@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.bg-darkBlue a {
  color: #ffffff;
}
.bg-darkBlue .dropdown-menu a {
  color: #242947;
}
.bg-darkBlue {
  background-color: #242947;
  color: #ffffff;
}

.bg-lightBlue {
  background-color: #b8c1ec;
  color: #242947;
}

.bg-lightPink {
  background-color: #eebbc2;
  color: #242947;
}
